<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatApp</title>
    <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">
</head>
<!--<body style="background-image: linear-gradient(to right, #708090, black, black, #708090)"></!-->
<body style="background-color:#323233">
    <div style="background-color: #f3f3f3; display: flex; align-items: left; justify-content: left;">
        <div style="flex-basis: 40%;">
            <img style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: x-large; text-align: center;" src="/static/resized_logo.png" alt="E2EE Chat App">
            <a>| </a>
            <a href="/" style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: black; text-decoration: none;">Home</a>
            <a> | </a>
            <a href="/info/" style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: black; text-decoration: none;">Info</a>
            <a> |</a>
        </div>
        <div style="font-size: 20px; padding-left: 20px;"><p style="font-family: Verdana, Geneva, Tahoma, sans-serif;"></p></div>
    </div>
    <center style="color: azure;">
        <hr>
        <form class="form" style="font-family: Arial, Helvetica, sans-serif;" enctype="multipart/form-data" method="POST">
            <label for="text_msg">Enter Text: </label>
            <input type="text" class="form-control" id="text_msg" name="text_msg" maxlength="1024">
            
            <label for="convo_hash">Enter Conversation ID: </label>
            <input type="text" class="form-control" id="convo_hash" name="convo_hash" value="{}" maxlength="32">

            <label for="key_file">Enter Key File: </label>
            <input type="file" class="form-control" id="key_file" name="key_file" value="{}">
            
            <input type="submit" value="Send Message">
        </form>
        <hr>
        <a style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
            {}
        </a>
    </center>
</body>
<footer style="position:fixed;bottom: 0;left:0;right:0;height:20px; background-color: aliceblue;">
    <a href="https://github.com/LackingInGrav1tas/e2ee-chat-app" style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: black; text-decoration: none;">source code</a>
</footer>
</html>