<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatApp Guide</title>
</head>
<body style="background-color: black; font-family: Verdana, Geneva, Tahoma, sans-serif; color: white;">
    <center>
        <h1>
            ChatApp Guide
        </h1>
    </center>
    <p>
        Conversations are stored by their identification ID, which can be any string >= 32 characters.
        When a message is sent with an empty "Enter Text" form, it just loads the conversation. The conversation
        is stored in an encrypted state, so it uses the key file to decrypt it. If your "Enter Key File" field is empty,
        your message will not be encrypted and can be viewed by anyone with any key.
    </p>
    <p>
        All AES keys are expected to be 16 bits in length. If a message in the conversation was encrypted with a 
        different key, it's message will not appear.
    </p>
</body>
</html>